#container {
    align-items: center;
    background-color: #FFFFFF;
    margin: 2rem;
    border: 0.5px dotted black;
}

#Childcontainer {
    text-align: center;
    height: 20rem;
    width: 15rem;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 5rem;
    background-color: #eee;
}

#usernameInput {
    height: 1.5 rem;
    width: auto;
    background-color: #fff;
    border: solid 1px #ccc;
}

#password {
    height: 1.5 rem;
    width: auto;
    background-color: #fff;
    border: solid 1px #ccc;
}

#loginButton {
    position: absolute;
    top: 25rem;
    left: 65rem;
    height: 1.5 rem;
    width: 8rem;
    height: 4rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #006238;
    border-radius: 16px;
    opacity: 1;
    font-size: 2rem;
    color:#006238;
    font: normal normal normal;
}

#LandingPageImage {
    position: absolute;
    top: 8rem;
    left: 20rem;
    height: 35rem;
    width: 25rem;
}

#LandingText {
    position: absolute;
    top: 15rem;
    left: 57rem;
    width: auto;
    height: 5rem;
    text-align: left;
    font: normal normal normal 64px/85px Palatino;
    letter-spacing: 0px;
    color: #006238;
    opacity: 1;
    color: #006238;
}